input[type=text] {
    height: 30px;
    line-height: 40px;
    font-size: 24px;
    padding: 5px;
}

.results {
    margin-top: 20px;
}

.search {
    padding: 10px 10px;
    /*margin: 0 10px;*/
    height: 43px;
    font-size: 20px;
    border: 1px solid #eee;
    background-color: #ddd;
    /*line-height: 0;*/
    cursor: pointer;
}

.search:hover {
    background-color: #ddd;
    box-shadow: 1px 1px 2px #333;
    border: 1px solid #666;
}

.search:focus {
    outline: 0;
    box-shadow: 1px 1px 2px #666 inset
}

.row {
    display: table-row;
    font-size: 18px;
}

.label {
    display: table-cell;
    font-weight: bolder;

    margin: 5px;
    padding: 5px;
}

.value {
    display: table-cell;
    font-weight: lighter;
}
